@(message: String)

@myForm = {
    <form method="post" id="test-form" class="white-popup-block mfp-hide">
        <h1>Form</h1>
        <fieldset style="border:0;">
            <p>Forneça suas informações:</p>
            <ol>
                <li>
                    <label for="titulo">Título do Anúncio</label><br>
                    <input id="titulo" name="titulo" placeholder="Titulo" required="" type="text">
                </li>
                <li>
                    <label for="nome">Nome</label><br>
                    <input id="nome" name="nome" placeholder="Nome" required="" type="text">
                </li>
                <li>
                    <label for="cidade">Cidade</label><br>
                    <input id="cidade" name="cidade" placeholder="Cidade" required="" type="text">
                </li>
                <li>
                    <label for="categoria">Selecione em que categoria se enquadra:</label><br>
                    <select name="categorias">
                    @for(categoria <- Categorias.values()){
                        <option id="categoria" name="categoria">@categoria.name()</option>
                    }
                    </select>
                </li>
                <li>
                    <label for="instrumento">Instrumeto</label>
                    <div class="tagging-js" data-tags-input-name="taggone">preexisting-tag, another-tag</div>
                </li>
                <li>
                    <label for="email">E-mail</label><br>
                    <input id="email" name="email" placeholder="example@@domain.com" required="" type="email">
                </li>
                <li>
                    <label for="phone">Telefone</label><br>
                    <input id="phone" name="phone" placeholder="Eg. +55" required="" type="tel">
                </li>
                <li>
                    <label for="textarea">Textarea</label><br>
                    <textarea id="textarea">Try to resize me to see how popup CSS-based resizing works.</textarea>
                </li>
            </ol>
            <button>Cadastrar</button>
        </fieldset>
    </form>
}

@main("GarageJam")(myForm){
}
